@model PagingList<Photo>

@{
    ViewData["Title"] = "PagedIndex";
}

<style>
    body {
        font-family: Tahoma;
    }

    .btn-primary,
    .btn-info,
    .btn-outline-info,
    .btn-outline-success,
    .btn-outline-danger {
        background-color: #5bc0de;
        border-color: #5bc0de;
        color: #fff;
    }

        .btn-primary:hover,
        .btn-info:hover,
        .btn-outline-info:hover,
        .btn-outline-success:hover,
        .btn-outline-danger:hover {
            background-color: #31b0d5;
            border-color: #269abc;
            color: #fff;
            he
        }

    .page-link {
        background-color: #5bc0de;
        border-color: #5bc0de;
        color: #fff;
    }

        .page-link:hover {
            background-color: #31b0d5;
            border-color: #269abc;
            color: #fff;
        }

    .filter-section {
        float: right;
        width: 50%;
        margin-top: 20px;
    }

        .filter-section select {
            width: 100%;
        }

    .add-photo-button {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 150px;
    }
</style>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <br />
            <a class="btn btn-primary add-photo-button" asp-area="" asp-controller="Photo" asp-action="CreateApi">Dodaj Zdjęcie</a>
        </div>
        <div class="col-md-6 filter-section">
            <form method="get" asp-action="PagedIndex">
                <div class="form-group">
                    <label for="authorId">Filtruj według autora:</label>
                    <select class="form-control" name="authorId" id="authorId">
                        <option value="">Wybierz autora</option>
                        @foreach (var author in ViewBag.AuthorsList as List<SelectListItem>)
                        {
                            <option value="@author.Value">@author.Text</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-info">Filtruj</button>
            </form>
        </div>
    </div>
</div>

@if (Model.Data.Count() > 0)
{
    <table class="table mt-4">
        <thead>
            <tr>
                <th>
                    Data i godzina
                </th>
                <th>
                    Aparat
                </th>
                <th>
                    Format
                </th>
                <th>
                    Autor
                </th>
                <th>
                    Akcje
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model.Data)
            {
                <tr>
                    <td>
                        @item.DateAndTime
                    </td>
                    <td>
                        @item.Camera
                    </td>
                    <td>
                        @item.Format.GetDisplayName()
                    </td>
                    <td>
                        @if (item.AuthorsList != null)
                        {
                            var author = item.AuthorsList.FirstOrDefault(a => a.Value == item.AuthorId.ToString());
                            @author?.Text
                        }
                        else
                        {
                            @item.AuthorId
                        }
                    </td>
                    <td>
                        <a class="btn btn-outline-info btn-sm" asp-action="Details" asp-route-id=@item.Id>Szczegóły</a>
                        <a class="btn btn-outline-success btn-sm" asp-action="Update" asp-route-id=@item.Id>Edycja</a>
                        <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id=@item.Id>Usuń</a>
                        <a class="btn btn-outline-danger btn-sm"  asp-action="CreateComment" asp-route-id=@item.Id>Skomentuj</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <nav aria-label="Photos page navigation">
        <ul class="pagination justify-content-center mt-4">
            @if (Model.IsPrevious)
            {
                <li class="page-item">
                    <a class="page-link"
               asp-controller="Photo"
               asp-action="PagedIndex"
               asp-route-page="@(Model.Page - 1)"
               asp-route-size="@Model.Size"
               asp-route-authorId="@ViewBag.AuthorId">
                        Poprzednia
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <a style="height:35px" class="btn btn-outline-danger btn-sm" class="page-link" tabindex="-1" aria-disabled="true">Poprzednia</a>
                </li>
            }
            <li class="page-item disabled">
                <span class="page-link">@Model.Page</span>
            </li>
            @if (Model.IsNext)
            {
                <li class="page-item">
                    <a class="page-link"
               asp-controller="Photo"
               asp-action="PagedIndex"
               asp-route-page="@(Model.Page + 1)"
               asp-route-size="@Model.Size"
               asp-route-authorId="@ViewBag.AuthorId">
                        Następna
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <a style="height:35px" class="btn btn-outline-danger btn-sm" class="page-link" tabindex="-1" aria-disabled="true">Następna</a>
                </li>
            }
        </ul>

        <a class="btn btn-outline-danger btn-sm" asp-action="RecentlyDeleted">Ostatnio usunięte</a>
    </nav>
}
else
{
    <p>Brak zdjęć</p>
}
