@model IEnumerable<ProjectData.Entities.AuthorEntity>

<style>
    body {
        font-family: Tahoma;
    }

    table {
        width: 100%;
        margin-top: 20px;
    }  

    .btn-primary{
        background-color: #5bc0de;
        border-color: #5bc0de;
        color: #fff;
    }

        .btn-primary:hover{
            background-color: #31b0d5;
            border-color: #269abc;
            color: #fff;
        }
        
</style>

@{
    ViewData["Title"] = "Index";
}

<br />
<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj nowego autora</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Akcje
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="table-actions">
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edycja</a>
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
