@model List<Comment>

<style>
    body {
        font-family: Tahoma;
    }

    table {
        width: 100%;
        margin-top: 20px;
    }

    .btn-primary{
        background-color: #5bc0de;
        border-color: #5bc0de;
        color: #fff;
    }

        .btn-primary:hover{
            background-color: #31b0d5;
            border-color: #269abc;
            color: #fff;
        }
</style>

@{
    ViewData["Title"] = "Index";
}

<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].PhotoDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].UserId)
            </th>
            <th>
                Akcje
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Content
                </td>
                <td>
                    @item.PhotoDescription
                </td>
                <td>
                    @item.Username
                </td>
                <td class="table-actions">
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="form-group">
    <a class="btn btn-primary" asp-controller="Photo" asp-action="PagedIndex">Wróć do listy</a>
    <a class="btn btn-primary" asp-controller="Photo" asp-action="CreateComment" asp-route-id=@ViewBag.PhotoId>Skomentuj</a>
</div>
